name: Semantic Versioning and Docker Build/Push

on:
  push:
    tags:
      - 'v*.*.*'
  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

jobs:
  version_and_docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
      
    - name: Extract version from tag
      id: extract_version
      run: echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
      
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Build Docker image
      run: docker build -t prasad522/mavenwebapp:${{ steps.extract_version.outputs.version }} .
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Push Docker image
      run: docker push prasad522/mavenwebapp:${{ steps.extract_version.outputs.version }}
